/* 103 */
body section > p#unico {
  border: 1px solid red;
  color: green;
}

/* 21 */
section:last-child .especial {
  color: red;
  border: none !important;
}

/* 12 */
body p.especial {
  background: lightgoldenrodyellow;
}

/* 12 */
section p:first-child {
  background: lightslategrey;
}
